<!doctype html>
%html
  %head
    %title ShopfinderCms
    = stylesheet_link_tag    "shopfinder_cms/application", :media => "all" 
    = javascript_include_tag "shopfinder_cms/application"
    = csrf_meta_tags
  %body
    = yield
